<a href="https://colab.research.google.com/github/Tanveer132/Regression-Types-in-Machine-Learning/blob/main/FST_Practice_PolyReg(redwine_housing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Apply Polynomial Regression on Red wine Quality dataset

In [14]:
#import necessary libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

#import models
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [3]:
df=pd.read_csv('/content/winequality-red.csv')
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [6]:
x=df.drop(columns='quality')
y=df['quality']

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
#Create pipleline to get polynomial features
predictions={}
for i in range(1,6):
  model=Pipeline([("xpoly",PolynomialFeatures(degree=i)),
                  ("Linear Regression",LinearRegression())])
  
  model.fit(xtrain,ytrain)
  predictions["degree"+str(i)]=model.score(xtrain,ytrain)

In [20]:
predictions

{'degree1': 0.36545196162097304,
 'degree2': 0.4511434209485091,
 'degree3': 0.6662540945735436,
 'degree4': 0.9982628769644767,
 'degree5': 0.9999131719402512}

#Apply Polynomial Regression on Boston House Pricing Data-set

In [21]:
df=pd.read_csv('/content/housing.csv')
df.head()

      RM  LSTAT  PTRATIO    MEDV
0  6.575   4.98     15.3  504000
1  6.421   9.14     17.8  453600
2  7.185   4.03     17.8  728700
3  6.998   2.94     18.7  701400
4  7.147   5.33     18.7  760200

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RM       489 non-null    float64
 1   LSTAT    489 non-null    float64
 2   PTRATIO  489 non-null    float64
 3   MEDV     489 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 15.4 KB

In [23]:
x=df.drop(columns='MEDV')
y=df['MEDV']

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [24]:
#Create pipleline to get polynomial features
predictions={}
for i in range(1,6):
  model=Pipeline([("xpoly",PolynomialFeatures(degree=i)),
                  ("Linear Regression",LinearRegression())])
  
  model.fit(xtrain,ytrain)
  predictions["degree"+str(i)]=model.score(xtrain,ytrain)

In [25]:
predictions

{'degree1': 0.7326740414596575,
 'degree2': 0.850516401409782,
 'degree3': 0.8614901427152101,
 'degree4': 0.8782597300464964,
 'degree5': 0.8915913312912785}